[project]
	description = VA PoC
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dsamaey
[access "refs/for/refs/*"]
	read = group user/dsamaey
	push = group user/dsamaey
	label-Code-Review = -2..+2 group user/dsamaey
	label-Verified = -1..+1 group user/dsamaey
	rebase = group user/dsamaey
	removeReviewer = group user/dsamaey
	submit = group user/dsamaey
[access "refs/heads/*"]
	read = group user/dsamaey
	create = group user/dsamaey
	push = +force group user/dsamaey
	pushMerge = group user/dsamaey
[access "refs/tags/*"]
	push = +force group user/dsamaey
	pushTag = group user/dsamaey
	pushSignedTag = group user/dsamaey
